/*
main html body styling
*/

/*background*/
body { 
    background-color:rgb(190, 249, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
/*background image(uncomment to apply)*/
}

/*banner image*/
.banner {
  position: relative;
  z-index: 1;
}

/*banner image*/
.bannerImage {
  object-fit: cover;
}

/*logo*/
.logo {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}

.line {
  background-color: rgb(127, 202, 252);  
  margin-bottom: 7px;  
  margin-right: auto;  
  margin-left: auto;  
  margin-top: 9px;  
  border-width: 1px;  
  border-color: rgb(127, 202, 252);  
}

/*banner text*/
.bannertext {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position:absolute;
  top: 30%;
  left: 25%;
  font-size: 100px;
  color:black;
}

/*Default text formatting*/
p {
    color: mintcream;
    font-size: 21px;
}

h1 {
    font-size: 60px;
}

h1, h2, p {
  display: block;
  text-align: center;
}

.contactText {
  background-color: rgb(127, 202, 252);
  color: black;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px;
  font-size: 60px;
}

/*Main Page Text*/
.maintop {
  display: block;
  text-align: center;
  background-color: rgb(127, 202, 252);
  color: black;
  padding: 5px;
  margin-left: 30%;
  margin-right: 30%;
}
.maintext {
  display: block;
  text-align: left;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(127, 202, 252);
  color: black;
}

/*property header text*/
.propertyHeader {
  background-color: rgb(127, 202, 252);
  color: black;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding: auto;
  font-size: 60px;
}

/*property details text*/
.propertyDetails {
  display: block;
  text-align: center;
  background-color: rgb(127, 202, 252);
  color: black;
  padding: 5px;
}

/*Criteria text1*/
.pleaseSend {
  display: block;
  text-align: center;
  background-color: rgb(127, 202, 252);
  color: black;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

/*Criteria text2*/
.pleaseReview {
  display: block;
  text-align: center;
  background-color: rgb(127, 202, 252);
  color: black;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

/*criteria links*/
.criteria {
  display: block;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 42%;
  margin-right: 42%;
  background-color: blue;
  color: white;
}

/*zillow links*/
.zillow {
  display: block;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 42%;
  margin-right: 42%;
  background-color: blue;
  color: white;
}

/*criteria text*/
.criteriaText {
  display: block;
  text-align: left;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(127, 202, 252);
  color: black;
}


/* Contact Us Button */
  button{
    background-color: rgb(127, 202, 252);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: mintcream;
  }

/* Dropdown Button */
.dropbtn {
    background-color: rgb(127, 202, 252);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(127, 202, 252);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content:hover{
    background-color:rgb(127, 202, 252);
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: mintcream;}


  /*application download link button*/
  .appdownload {
    font-size: 15px;
    display: block;
    text-align: center;
    align-items: center;
    margin-left:42%;
    margin-right:42%;
    background:blue;
    color:white;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }

  /*fancybox formatting*/
  .container {
    width: 80%;
    column-count: 4;
    margin: 0 auto;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    margin: 1em;
  }
  
  
  @media only screen and (max-width: 768px) {
    .container {
      column-count: 3;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .container {
      column-count: 2;
    }
  }

/*apply-email image*/
.emailimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
/*contact email image*/
.contactimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/*contact email image*/
.contactimage2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/*phone image*/
.phoneimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/*primary images*/ 
.propertyimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/*contact page image handling*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.contactImagesColumn {
  float: left;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

/* Clear floats after image containers */
.contactImagesRow::after {
  content: "";
  clear: both;
  display: table;
  box-sizing: border-box;
}
