<ul>
    <% for (var person of people) { %> 
        <% if (person.name === 'dave') { %> 
    <li><%= person.name%> is a piece of shit.</li>
    <% } else { %> 
    <li><%= person.name %> is also a piece of shit.</li>
    <% } %> 
    <% } %> 
</ul> 

<h1> fuck </h1>

<h3>This is the child view file</h3>